<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>
</head>
<body>
    <h1>Lista de tareas</h1>
    <ul>
        {% for tarea in tareas %}
        <li>
            {{ tarea.titulo }} - {% if tarea.completada %}Completada{% else %}No completada{% endif %}
            <a href="{% url 'completada' tarea.id %}">Completada</a>
            <a href="{% url 'eliminar_tarea' tarea.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'anadir_tarea' %}">Añadir tarea</a>
</body>